body {
  padding: 0px;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

h1, h2, h3, div {
  text-align: center;
} 

/* Board */
#board{
  margin: 0 auto;
}

#board table{
  table-layout: fixed;
}

#board td{
  border: 1px solid #bbb;
}

#board tr:nth-last-child(1) td {
  border-bottom: 1px solid #fff; 
}

#board tr:nth-child(1) td {
  border-top: 1px solid #fff; 
}

#board td:nth-last-child(1) {
  border-right: 1px solid #fff; 
}


#board td:nth-child(1) {
  border-left:1px solid #fff; 
}

/* Reset button */
#reset{
  margin-left:auto;
  margin-right:auto;
  display:block;
  border: 1px solid black;
  background-color:white;
  padding:10px;
  margin-top:10px;
}

/* Cells X and O */
.X {
  background: url(images/x.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.O { 
  background: url(images/o.png);
  background-size: cover;
  background-repeat: no-repeat;
}



/* Added Some Responsiveness */

@media (orientation: landscape){
  #board {
    width: 70vh;
    height: 70vh;
  }
}

@media (orientation: portrait){
  #board {
    width: 70vw;
    height: 70vw;
  }
}

@media (min-width: 600px) and  (orientation: landscape){
  /* For tablets: */
  body {
    padding: 5px;
  }
  #board {
    width: 64vh;
    height: 64vh;
  }
}

@media (min-width: 600px) and  (orientation: portrait){
  /* For tablets: */
  body {
    padding: 5px;
  }
  #board {
    width: 64vw;
    height: 64vw;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  /* For desktop: */
  body {
    padding: 10px;
  }
  #board {
    width: 42vw;
    height: 42vw;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  /* For desktop: */
  body {
    padding: 10px;
  }
  #board {
    width: 42vh;
    height: 42vh;
  }
}